::ng-deep .p-dialog {max-height: 96%; 
    .p-dialog-header {    padding-top: 4px; padding-bottom: 3px; padding-left: 16px;}
    .overflow-hidden {p.flow-hide {    text-overflow: ellipsis; width: 140px; white-space: nowrap; overflow: hidden;}}
    .ql-toolbar.ql-snow, .ql-snow .ql-picker {padding: 3px; font-size: 12px;}
    .ql-snow .ql-picker-label::before {line-height: 19px;}
    .ql-snow.ql-toolbar button svg, .ql-snow .ql-toolbar button svg, .ql-snow .ql-color-picker .ql-picker-label svg, .ql-snow .ql-icon-picker .ql-picker-label svg {width: 16px; height: 16px;}
    span.ql-align.ql-picker.ql-icon-picker span.ql-picker-label{display: flex; align-items: center;}
}
::ng-deep .p-datatable .p-datatable-thead > tr > th{ background: #CFD5E3; color: var(--primary-black); font-size: var(--value_12); font-family: var(--default-font); line-height: var(--value_20);}
.my-12 {margin: 12px 0;}
.br-1 {border-right: 1px solid var(--secondary-border-color);}
.head-info {font-size: var(--value_14); line-height: var(--value_20); color: var(--primary-grey); font-weight: normal; font-family: var(--default-font);}
::ng-deep .project-user-list {
    button.p-ripple.p-element.p-button.p-component {padding: 4px 12px; font-size: var(--value_14);}
    .advance-filter-wrapper {background: #D3D3D3; border-radius: 4px; padding: 12px 16px; color: var(--primary-black); font-family: var(--default-font); font-size: var(--value_14); line-height: var(--value_16); margin: 8px 0; 
        h5 {font-size: var(--value_15); font-family: var(--font-medium); font-weight: 500; color: var(--primary-black);}
        button.p-ripple.p-element.p-button.p-component {min-width: 88px !important; padding: 7px 12px;}
    }
    button.p-ripple.p-element.p-button.p-component {min-width: 72px; padding: 4px 12px;}
    .table_filter {padding: 12px 8px; }
    tbody.p-element.p-datatable-tbody {min-height: 208px;overflow-y: auto;}
.secondarybtn button.p-ripple.p-element.p-button.p-component {background: var(--secondary-border-color); color: #fff; min-width: 74px; }
}
::ng-deep .filter {
.small button.p-ripple.p-element.p-button.p-component {padding: 4px 12px; font-size: var(--value_14); min-width: 102px; margin-top: 1.45rem;}
span.p-fileupload-choose {background: none; padding: 0; border: none; box-shadow: none !important; color: var(--primary-grey); font-size: var(--value_12); font-family: var(--default-font); svg {fill: var(--primary-grey);}}
}
.height_limit {min-height: 208px; overflow-y: auto; display: block;}
.t_details {
    .color-black, .color-blue {font-weight: 500; font-family: var(--font-medium);}
}
p.info { margin-bottom: 4px;
    .head-span {color: var(--primary-black); font-family: var(--default-font); font-size: var(--value_14); margin-right: 5px;}
        span {color: var(--primary-grey); font-family: var(--default-font); font-size: var(--value_14); margin-right: 6rem; &:last-child{margin-right: 0;}}
}
::ng-deep .font-small {font-size: var(--value_12) !important;}
::ng-deep .p-dialog-content{ button.p-ripple.p-element.p-button.p-component {min-width: 88px;}}
::ng-deep .p-editor-container {
    overflow: visible;
}

::ng-deep .main-content {
    h2 {font-size: var(--value_16); font-family: var(--default-font); line-height: var(--value_16); padding-left: 4px; }
    .p-divider.p-divider-horizontal {margin: 0.15rem 0 0;}
    .edit_user {p { font-size: 14px; font-weight: 400; line-height: 16px; color: var(--primary-grey); span {color: var(--primary-black);} }
    }
}

::ng-deep .deletePop {
    p {font-size: var(--value_12);}
    button.p-ripple.p-element.p-button.p-component {padding: 2px 6px; font-size: var(--value_12); min-width: 62px;}
}
::ng-deep h4 {font-size: var(--value_15); font-family: var(--font-medium); line-height: var(--value_16);}