<footer class="footer-pattern">
    <div class="footer-body">
        <div class="copyright_text">
            <span>All Right Reserved</span>
            <span>Copyright &copy; 2024 Retail Core</span>
        </div>
        <div class="company_links">
            <a class="" routerLink="" routerLinkActive="" >Disclaimer</a>
            <a class="" routerLink="" routerLinkActive="" >Terms of Use</a>
            <a class="" routerLink="" routerLinkActive="" >Privacy Policy</a>
        </div>
    </div>
</footer>