<!-- <p>project-schedule works!</p> -->
<div class="project-user-list">
    <div class="main-heading d-block mb-2">
      <div class="col-lg-6 page-heading w-100 p-0">
        <h1 class="">Modify User Permission Mapping</h1>
      </div>
    </div>
    <div class="left-filter d-flex align-items-center gap-2 justify-content-between">
      <div class="d-flex gap-2  ">
        <p-autoComplete id="searchall" class="search" placeholder="Search here..." [style]="{ width: '18.875rem' }" />
        <p-button label="Search" class="primarybtn " />
      </div>
      <p-button label="Export to Excel" icon="pi pi-file-excel" class="tertiarybtn"/>
    </div>
    <div class="main-content mt-2">
      <div class="card">
        <div class="table_filter d-flex align-items-center justify-content-between">
            <h2>Modify User Permission Setting List</h2>
        </div>
        <div class="tab-view-wrapper">
          <div class="table">
            <p-table [scrollable]="true" scrollHeight="400px"  editMode="row" [tableStyle]="{ 'min-width': '110%' }">
              <ng-template pTemplate="header">
                <tr>
                    <th><p-tableHeaderCheckbox/></th>
                    <th pSortableColumn="code">User Name<p-sortIcon field="code" /></th>
                    <th pSortableColumn="code">Parent Company<p-sortIcon field="code" /></th>
                    <th pSortableColumn="code">Domain<p-sortIcon field="code" /></th>
                    <th pSortableColumn="code">First Name<p-sortIcon field="code" /></th>
                    <th pSortableColumn="code">Last Name<p-sortIcon field="code" /></th>
                    <th pSortableColumn="code">Email Address<p-sortIcon field="code" /></th>
                    <th pSortableColumn="code">Product Access<p-sortIcon field="code" /></th>
                    <th pSortableColumn="code">Permission Level<p-sortIcon field="code" /></th>
                    <th pSortableColumn="code">Status<p-sortIcon field="code" /></th>
                    <th alignFrozen="right" pFrozenColumn>Actions </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
                <tr>
                    <td><p-tableCheckbox/> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown 
                                    appendTo="body" 
                                   
                                    [style]="{'width':'100%'}" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <!-- <p-tag /> -->
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown 
                                    appendTo="body" 
                                   
                                    [style]="{'width':'100%'}" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <!-- <p-tag /> -->
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown 
                                    appendTo="body" 
                                   
                                    [style]="{'width':'100%'}" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <!-- <p-tag /> -->
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <a>
                            <i>
                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.92738 3.48795L8.30088 4.83735L1.93943 11.1988V12.5723H3.28883L9.67437 6.18675L11.0479 7.53614L4.1081 14.5H0.0117188V10.4036L6.92738 3.48795ZM11.0479 7.53614L6.92738 3.48795L9.33702 1.07831C9.72256 0.692771 10.1846 0.5 10.723 0.5C11.2609 0.5 11.7145 0.692771 12.084 1.07831L13.4334 2.45181C13.8029 2.82129 13.9876 3.27108 13.9876 3.8012C13.9876 4.33133 13.8029 4.78112 13.4334 5.1506L11.0479 7.53614Z" fill="#666666"/>
                            </svg>
                            </i>
                        </a>
                    </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-end gap-2 mt-2">
        <p-button label="Update" class="primarybtn" [disabled]="true"/>
        <p-button label="Cancel" class="tertiarybtn" [disabled]="true"/>
      </div>
  </div>