<!-- <p>project-schedule works!</p> -->
<div class="project-user-list">
  <div class="main-heading d-block mb-2">
    <div class="col-lg-6 page-heading w-100 p-0">
      <h1 class="">User Account Approval</h1>
    </div>
  </div>
  <div class="left-filter d-flex align-items-center gap-2 justify-content-between">
    <form [formGroup]="frmTextSearch" (ngSubmit)="searchTextUserList()">
      <input id="searchall" formControlName="txtSearch" class="search" placeholder="Search here..."
        [style]="{ width: '18.875rem' }" />
      <p-button label="Search" class="primarybtn br-1 pr-3" type="submit" />
    </form>
    <p-button label="Export to Excel" icon="pi pi-file-excel" (onClick)="exportExcel()" class="tertiarybtn" />
  </div>
  <div class="main-content mt-2">
    <div class="card">
      <div class="table_filter d-flex align-items-center justify-content-between">
        <h2>Pending User Account Request List</h2>
      </div>
      <div class="tab-view-wrapper">
        <div class="table">
          <p-table [scrollable]="true" scrollHeight="400px" [value]="lstUsersView"
            [tableStyle]="{ 'min-width': '100%' }" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]">
            <ng-template pTemplate="caption">
              <tr>
                <th>User Name<p-columnFilter type="text" field="userId" display="menu" /></th>
                <th>Company<p-columnFilter type="text" field="customerCompanyName" display="menu" /></th>
                <th>First Name<p-columnFilter type="text" field="firstName" display="menu" /></th>
                <th>Last Name<p-columnFilter type="text" field="lastName" display="menu" /></th>
                <th>Email Address<p-columnFilter type="text" field="companyEmail" display="menu" /></th>
                <th>Product Requested</th>
                <th>Requsted Date<p-columnFilter type="text" field="created" display="menu" /></th>
                <th>Parent Company Exists<p-columnFilter type="boolean" field="isCompanyExists"></p-columnFilter></th>
                <th>Account Status<p-columnFilter type="boolean" field="isActive"></p-columnFilter></th>
                <th alignFrozen="right" pFrozenColumn>Actions </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td><a class="color-blue" (click)="edit_user(item)">{{item.userId}}</a></td>
                <td>{{item.customerCompanyName}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.companyEmail}}</td>
                <td></td>
                <td>{{item.created}}</td>
                <td>
                  <a (click)="addparent(item)" pTooltip="Add Parent Company" [hidden]="item.isCompanyExists">
                    <i>
                      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M20.6287 20.6291C21.9398 19.318 22.8327 17.6475 23.1944 15.829C23.5562 14.0104 23.3705 12.1254 22.6609 10.4123C21.9514 8.69929 20.7497 7.23512 19.208 6.20498C17.6663 5.17484 15.8538 4.625 13.9996 4.625C12.1454 4.625 10.3328 5.17484 8.79109 6.20498C7.24938 7.23512 6.04776 8.69929 5.33819 10.4123C4.62862 12.1254 4.44296 14.0104 4.8047 15.829C5.16644 17.6475 6.05932 19.318 7.37044 20.6291C9.12859 22.3873 11.5132 23.375 13.9996 23.375C16.486 23.375 18.8705 22.3873 20.6287 20.6291ZM8.31745 8.3179C9.44127 7.19408 10.8731 6.42875 12.4319 6.11869C13.9906 5.80863 15.6064 5.96777 17.0747 6.57597C18.543 7.18418 19.798 8.21413 20.681 9.5356C21.564 10.8571 22.0353 12.4107 22.0353 14C22.0353 15.5893 21.564 17.1429 20.681 18.4644C19.798 19.7859 18.543 20.8158 17.0747 21.424C15.6064 22.0322 13.9906 22.1914 12.4319 21.8813C10.8731 21.5713 9.44127 20.8059 8.31745 19.6821C6.81046 18.1751 5.96385 16.1312 5.96385 14C5.96385 11.8688 6.81046 9.82488 8.31745 8.3179Z"
                          fill="#DA2129" />
                        <path
                          d="M14.6674 18.0201L14.6674 14.6676H18.0199V13.3324H14.6674L14.6674 9.97991H13.3321L13.3321 13.3324H9.97967V14.6676H13.3321L13.3321 18.0201H14.6674Z"
                          fill="#DA2129" />
                      </svg>
                    </i>
                  </a>
                  <a pTooltip="Parent Company Already Exists" *ngIf="item.isCompanyExists">
                    <i>
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M10 19.375C8.1458 19.375 6.33324 18.8252 4.79153 17.795C3.24982 16.7649 2.04821 15.3007 1.33863 13.5877C0.629062 11.8746 0.443406 9.98961 0.805142 8.17103C1.16688 6.35246 2.05976 4.682 3.37088 3.37088C4.682 2.05976 6.35246 1.16688 8.17103 0.805142C9.98961 0.443406 11.8746 0.629062 13.5877 1.33863C15.3007 2.04821 16.7649 3.24982 17.795 4.79153C18.8252 6.33324 19.375 8.1458 19.375 10C19.375 12.4864 18.3873 14.871 16.6291 16.6291C14.871 18.3873 12.4864 19.375 10 19.375ZM10 1.875C8.39303 1.875 6.82215 2.35153 5.486 3.24431C4.14985 4.1371 3.10845 5.40605 2.49348 6.8907C1.87852 8.37535 1.71762 10.009 2.03112 11.5851C2.34463 13.1612 3.11846 14.6089 4.25476 15.7452C5.39106 16.8816 6.8388 17.6554 8.4149 17.9689C9.99099 18.2824 11.6247 18.1215 13.1093 17.5065C14.594 16.8916 15.8629 15.8502 16.7557 14.514C17.6485 13.1779 18.125 11.607 18.125 10C18.125 7.84512 17.269 5.7785 15.7452 4.25476C14.2215 2.73103 12.1549 1.875 10 1.875Z"
                          fill="#1CA610" />
                        <path
                          d="M8.54384 13.7501C8.45814 13.7498 8.37342 13.7319 8.29493 13.6975C8.21644 13.6631 8.14587 13.6129 8.08759 13.5501L5.16884 10.4251C5.06911 10.3021 5.01978 10.1459 5.03082 9.9879C5.04185 9.82994 5.11243 9.68206 5.2283 9.57413C5.34416 9.4662 5.49667 9.40627 5.65501 9.40646C5.81335 9.40664 5.96573 9.46691 6.08134 9.5751L8.54384 12.2064L13.9188 6.4501C13.9728 6.38355 14.0399 6.3288 14.1159 6.28926C14.1919 6.24973 14.2753 6.22624 14.3607 6.22027C14.4462 6.2143 14.532 6.22597 14.6128 6.25455C14.6936 6.28313 14.7676 6.32802 14.8303 6.38642C14.893 6.44483 14.943 6.5155 14.9773 6.59405C15.0115 6.6726 15.0292 6.75735 15.0293 6.84304C15.0294 6.92872 15.0119 7.01351 14.9778 7.09214C14.9438 7.17077 14.8939 7.24156 14.8313 7.3001L9.00009 13.5501C8.94182 13.6129 8.87124 13.6631 8.79276 13.6975C8.71427 13.7319 8.62954 13.7498 8.54384 13.7501Z"
                          fill="#1CA610" />
                      </svg>
                    </i>
                  </a>
                </td>
                <td>{{ item.isActive ? 'Active' : 'InActive'}}</td>
                <td alignFrozen="right" pFrozenColumn>
                  <span class="d-flex align-items-center gap-2 justify-content-center">
                    <a (click)="edit_userPermission(item)" pTooltip="Edit User">
                      <i>
                        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.92738 3.48795L8.30088 4.83735L1.93943 11.1988V12.5723H3.28883L9.67437 6.18675L11.0479 7.53614L4.1081 14.5H0.0117188V10.4036L6.92738 3.48795ZM11.0479 7.53614L6.92738 3.48795L9.33702 1.07831C9.72256 0.692771 10.1846 0.5 10.723 0.5C11.2609 0.5 11.7145 0.692771 12.084 1.07831L13.4334 2.45181C13.8029 2.82129 13.9876 3.27108 13.9876 3.8012C13.9876 4.33133 13.8029 4.78112 13.4334 5.1506L11.0479 7.53614Z"
                            fill="#666666" />
                        </svg>
                      </i>
                    </a>
                    <a (click)="approveUser(item)" pTooltip="Approve">
                      <i>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M10 19.375C8.1458 19.375 6.33324 18.8252 4.79153 17.795C3.24982 16.7649 2.04821 15.3007 1.33863 13.5877C0.629062 11.8746 0.443406 9.98961 0.805142 8.17103C1.16688 6.35246 2.05976 4.682 3.37088 3.37088C4.682 2.05976 6.35246 1.16688 8.17103 0.805142C9.98961 0.443406 11.8746 0.629062 13.5877 1.33863C15.3007 2.04821 16.7649 3.24982 17.795 4.79153C18.8252 6.33324 19.375 8.1458 19.375 10C19.375 12.4864 18.3873 14.871 16.6291 16.6291C14.871 18.3873 12.4864 19.375 10 19.375ZM10 1.875C8.39303 1.875 6.82215 2.35153 5.486 3.24431C4.14985 4.1371 3.10845 5.40605 2.49348 6.8907C1.87852 8.37535 1.71762 10.009 2.03112 11.5851C2.34463 13.1612 3.11846 14.6089 4.25476 15.7452C5.39106 16.8816 6.8388 17.6554 8.4149 17.9689C9.99099 18.2824 11.6247 18.1215 13.1093 17.5065C14.594 16.8916 15.8629 15.8502 16.7557 14.514C17.6485 13.1779 18.125 11.607 18.125 10C18.125 7.84512 17.269 5.7785 15.7452 4.25476C14.2215 2.73103 12.1549 1.875 10 1.875Z"
                            fill="#1CA610" />
                          <path
                            d="M8.54384 13.7501C8.45814 13.7498 8.37342 13.7319 8.29493 13.6975C8.21644 13.6631 8.14587 13.6129 8.08759 13.5501L5.16884 10.4251C5.06911 10.3021 5.01978 10.1459 5.03082 9.9879C5.04185 9.82994 5.11243 9.68206 5.2283 9.57413C5.34416 9.4662 5.49667 9.40627 5.65501 9.40646C5.81335 9.40664 5.96573 9.46691 6.08134 9.5751L8.54384 12.2064L13.9188 6.4501C13.9728 6.38355 14.0399 6.3288 14.1159 6.28926C14.1919 6.24973 14.2753 6.22624 14.3607 6.22027C14.4462 6.2143 14.532 6.22597 14.6128 6.25455C14.6936 6.28313 14.7676 6.32802 14.8303 6.38642C14.893 6.44483 14.943 6.5155 14.9773 6.59405C15.0115 6.6726 15.0292 6.75735 15.0293 6.84304C15.0294 6.92872 15.0119 7.01351 14.9778 7.09214C14.9438 7.17077 14.8939 7.24156 14.8313 7.3001L9.00009 13.5501C8.94182 13.6129 8.87124 13.6631 8.79276 13.6975C8.71427 13.7319 8.62954 13.7498 8.54384 13.7501Z"
                            fill="#1CA610" />
                        </svg>
                      </i>
                    </a>
                    <a (click)="declination(item)" pTooltip="Decline">
                      <i>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M10 19.375C8.1458 19.375 6.33324 18.8252 4.79153 17.795C3.24982 16.7649 2.04821 15.3007 1.33863 13.5877C0.629062 11.8746 0.443406 9.98961 0.805142 8.17103C1.16688 6.35246 2.05976 4.682 3.37088 3.37088C4.682 2.05976 6.35246 1.16688 8.17103 0.805142C9.98961 0.443406 11.8746 0.629062 13.5877 1.33863C15.3007 2.04821 16.7649 3.24982 17.795 4.79153C18.8252 6.33324 19.375 8.1458 19.375 10C19.375 12.4864 18.3873 14.871 16.6291 16.6291C14.871 18.3873 12.4864 19.375 10 19.375ZM10 1.875C8.39303 1.875 6.82215 2.35153 5.486 3.24431C4.14985 4.1371 3.10845 5.40605 2.49348 6.8907C1.87852 8.37535 1.71762 10.009 2.03112 11.5851C2.34463 13.1612 3.11846 14.6089 4.25476 15.7452C5.39106 16.8816 6.8388 17.6554 8.4149 17.9689C9.99099 18.2824 11.6247 18.1215 13.1093 17.5065C14.594 16.8916 15.8629 15.8502 16.7557 14.514C17.6485 13.1779 18.125 11.607 18.125 10C18.125 7.84512 17.269 5.7785 15.7452 4.25476C14.2215 2.73103 12.1549 1.875 10 1.875Z"
                            fill="#1CA610" />
                          <path
                            d="M8.54384 13.7501C8.45814 13.7498 8.37342 13.7319 8.29493 13.6975C8.21644 13.6631 8.14587 13.6129 8.08759 13.5501L5.16884 10.4251C5.06911 10.3021 5.01978 10.1459 5.03082 9.9879C5.04185 9.82994 5.11243 9.68206 5.2283 9.57413C5.34416 9.4662 5.49667 9.40627 5.65501 9.40646C5.81335 9.40664 5.96573 9.46691 6.08134 9.5751L8.54384 12.2064L13.9188 6.4501C13.9728 6.38355 14.0399 6.3288 14.1159 6.28926C14.1919 6.24973 14.2753 6.22624 14.3607 6.22027C14.4462 6.2143 14.532 6.22597 14.6128 6.25455C14.6936 6.28313 14.7676 6.32802 14.8303 6.38642C14.893 6.44483 14.943 6.5155 14.9773 6.59405C15.0115 6.6726 15.0292 6.75735 15.0293 6.84304C15.0294 6.92872 15.0119 7.01351 14.9778 7.09214C14.9438 7.17077 14.8939 7.24156 14.8313 7.3001L9.00009 13.5501C8.94182 13.6129 8.87124 13.6631 8.79276 13.6975C8.71427 13.7319 8.62954 13.7498 8.54384 13.7501Z"
                            fill="#1CA610" />
                        </svg>
                      </i>
                    </a>
                    <a (click)="sendEmail(item)" pTooltip="Send email to user">
                      <i>
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_4360_6644)">
                            <path
                              d="M15.6536 4.49935C15.6536 3.76602 15.0536 3.16602 14.3203 3.16602H3.65365C2.92031 3.16602 2.32031 3.76602 2.32031 4.49935V12.4993C2.32031 13.2327 2.92031 13.8327 3.65365 13.8327H14.3203C15.0536 13.8327 15.6536 13.2327 15.6536 12.4993V4.49935ZM14.3203 4.49935L8.98698 7.83268L3.65365 4.49935H14.3203ZM14.3203 12.4993H3.65365V5.83268L8.98698 9.16602L14.3203 5.83268V12.4993Z"
                              fill="#666666" />
                          </g>
                          <defs>
                            <clipPath id="clip0_4360_6644">
                              <rect width="16" height="16" fill="white" transform="translate(0.988281 0.5)" />
                            </clipPath>
                          </defs>
                        </svg>
                      </i>
                    </a>
                  </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7">No records found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Add Parent Company with Product Access" [(visible)]="parent_visible" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '42vw' }" [draggable]="false"
  [resizable]="false">
  <form [formGroup]="frmAddParentCompany" (ngSubmit)="addParentCompany()">
    <div class="row mx-0 w-100 py-3">
      <input type="hidden" formControlName="hdnUserIdAddParent">
      <input type="hidden" formControlName="hdnParentCompanyId">
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="d-flex align-items-center flex-row justify-content-between">
          <label class="mb-0 nowrap" for="status">Parent Company Name </label>
          <input pInputText type="text" [readOnly]="true" placeholder="Search" class="w-60"
            formControlName="txtCompanyName" />

        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="d-flex align-items-center flex-row justify-content-between">
          <label class="mb-0 nowrap" for="status">Domain Name</label>
          <input pInputText type="text" formControlName="txtDomain" placeholder="Search" class="w-30" />
          <p-button label="+" pTooltip="Add Domain" (onClick)="addDomainToGrid()" class="primarybtn w-20" />
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <p-table [tableStyle]="{ 'min-width': '100%' }" [scrollable]="true" [value]="lstDomains" scrollHeight="180px">
          <ng-template pTemplate="header">
            <tr>
              <th>Domain Name</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.name}}</td>
              <td><p-button label="Remove" class="tertiarybtn mr-2" (onClick)="removeDomain(item)" /></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="d-flex align-items-center flex-row justify-content-between">
          <label class="mb-0 nowrap" for="status">Product Type</label>
          <p-treeSelect class="w-60" formControlName="selectProductType" containerStyleClass="w-full" [showClear]="true"
            [options]="lstProductType" [filter]="true" display="chip" [metaKeySelection]="false"
            selectionMode="checkbox" placeholder="Product Access" />
          <div class="text-danger"
            *ngIf="frmAddParentCompany.controls['selectProductType'].invalid && (frmAddParentCompany.controls['selectProductType'].touched  || frmAddParentCompany.controls['selectProductType'].dirty || isAddParentCompany)">
            <span class="required_text"
              *ngIf="frmAddParentCompany.controls['selectProductType'].errors?.['required']">Product
              required</span>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="d-flex align-items-center flex-row justify-content-between">
          <label class="mb-0 nowrap" for="status">Brand</label>
          <p-dropdown placeholder="Select" [options]="lstBrand" optionLabel="name" [filter]="true" filterBy="name"
            [showClear]="true" class="w-60" formControlName="selectBrand" />
          <div class="text-danger"
            *ngIf="frmAddParentCompany.controls['selectBrand'].invalid && (frmAddParentCompany.controls['selectBrand'].touched  || frmAddParentCompany.controls['selectBrand'].dirty || isAddParentCompany)">
            <span class="required_text" *ngIf="frmAddParentCompany.controls['selectBrand'].errors?.['required']">Brand
              required</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-sm-12 d-flex align-items-center w-100 mb-2">
        <p-inputSwitch inputId="auto-approve" formControlName="switchAutoApprove" />
        <label class="mb-0" for="auto-approve">Auto approve all user request for this parent company</label>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-3 text-right">
        <p-button label="Save" type="submit" class="primarybtn" />
        <p-button label="Cancel" (onClick)="cancelAddParent()" class="tertiarybtn mr-2" />
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <p class="m-0 font-small">Selected Products List For Access</p>
        <p-table [tableStyle]="{ 'min-width': '100%' }" [scrollable]="true" scrollHeight="180px"
          [value]="lstBrandParentCompanyUserAccess">
          <ng-template pTemplate="header">
            <tr>
              <th>Brand</th>
              <th>Domain</th>
              <th>Product Type</th>
              <th>Sub Product</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.brandName}}</td>
              <td>{{item.domainName}}</td>
              <td>{{item.productName}}</td>
              <td>{{item.subProductName}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog header="Update Info: {{userId}}" [(visible)]="user" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '76vw' }" [draggable]="false"
  [resizable]="false">
  <form [formGroup]="frmViewUserInfo">
    <div class="row px-2">
      <div class="col-6 col-md-6 col-sm-12 pr-4 br-1">
        <p class="font-small color-grey">Personal Details</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="txtFirstName">First Name<span class="mandtory text-red">*</span></label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Enter your First Name" [autoHide]="false"
                [readOnly]="true" tooltipPosition="top" formControlName="txtFirstName" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="txtLastName">Last Name</label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Enter your Last Name" [autoHide]="false"
                [readOnly]="true" tooltipPosition="top" formControlName="txtLastName" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="txtUsername">Username<span class="mandtory text-red">*</span></label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Enter your Username" [readOnly]="true"
                formControlName="txtUsername" [autoHide]="false" tooltipPosition="top" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="txtCompanyEmail">Company Email<span class="mandtory text-red">*</span></label>
              <input pInputText type="email" placeholder="Enter here" pTooltip="Enter your Company Email"
                [readOnly]="true" [autoHide]="false" tooltipPosition="top" formControlName="txtCompanyEmail" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 phone_custom">
            <div class="flex flex-column gap-2 mb-3">
              <label for="phoneextension">Work Phone No.<span class="mandtory text-red">*</span></label>
              <p-inputGroup>
                  <p-dropdown placeholder="+1" formControlName="ddlphoneextension"
                     [options]="lstCountries" filterBy="name"
                    optionLabel="extension" [showClear]="false" />
                <input pInputText class="phone_pad" type="text" placeholder="Enter here" formControlName="txtPhone"
                  [readOnly]="true">
              </p-inputGroup>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="txtMobileNo">Mobile No</label>
              <input pInputText type="email" placeholder="Enter here" pTooltip="Enter your Mobile No" [autoHide]="false"
                [readOnly]="true" tooltipPosition="top" formControlName="txtMobileNo" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 pl-4">
        <p class="font-small color-grey">Company Details</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="txtJobTitle">Job Title<span class="mandtory text-red">*</span></label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Enter your Job Title" [autoHide]="false"
                [readOnly]="true" tooltipPosition="top" formControlName="txtJobTitle" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="txtCompanyName">Company Name<span class="mandtory text-red">*</span></label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Enter your Company Name"
                [readOnly]="true" [autoHide]="false" tooltipPosition="top" formControlName="txtCompanyName" />
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="txtAddress1">Address Line 1<span class="mandtory text-red">*</span></label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Enter your Address" [autoHide]="false"
                [readOnly]="true" tooltipPosition="top" formControlName="txtAddress1" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="txtAddress2">Address Line 2<span class="mandtory text-red">*</span></label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Enter your Address Line2"
                [readOnly]="true" [autoHide]="false" tooltipPosition="top" formControlName="txtAddress2" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="ddlCountry">Country</label>
              <p-dropdown placeholder="Country" optionLabel="name" [filter]="true" formControlName="ddlCountry"
            optionValue="code" [readonly]="true"  filterBy="name" [showClear]="false" [options]="lstCountries"/>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="ddlState">State</label>
              <p-dropdown placeholder="State" optionLabel="name" [filter]="true" formControlName="ddlState"
              optionValue="code" [readonly]="true" [options]="lstState" filterBy="name" [showClear]="false" />
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="ddlCity">City</label>
              <p-dropdown placeholder="City" optionLabel="name" [filter]="true" formControlName="ddlCity"
              optionValue="code" [readonly]="true" [options]="lstCities" filterBy="name" [showClear]="false"/>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="txtZipCode">Zip Code<span class="mandtory text-red">*</span></label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Enter your Zipcode" [readOnly]="true"
                formControlName="txtZipCode" [autoHide]="false" tooltipPosition="top" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
<p-dialog header="Modify User Permission Setting: {{userId}}" [(visible)]="edituser" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '60vw' }" [draggable]="false"
  [resizable]="false">
  <form [formGroup]="frmEditUserPermission" (ngSubmit)="assignRoleProduct()">
    <input type="hidden" formControlName="hdnUserId">
    <div class="row px-2">
      <div class="col-6 col-md-6 col-sm-12 pr-4 br-1">
        <p class="font-small color-grey">Personal Details</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="lblParentCompany">Parent Company</label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Parent Company Name" [readOnly]="true"
                [autoHide]="false" tooltipPosition="top" formControlName="txtCompanyName" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="lblFirstName">First Name</label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="First Name" [autoHide]="false"
                [readOnly]="true" tooltipPosition="top" formControlName="txtFirstName" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="lblLastName">Last Name</label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Last Name" [autoHide]="false"
                [readOnly]="true" tooltipPosition="top" formControlName="txtLastName" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="lblEmailAddress">Email Address</label>
              <input pInputText type="email" placeholder="Enter here" pTooltip="Email Address" [readOnly]="true"
                [autoHide]="false" tooltipPosition="top" formControlName="txtCompanyEmail" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 pl-4">
        <p class="font-small color-grey">Permission Details</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="lblParentCompany">Product Access<span class="mandtory text-red">*</span></label>
              <p-treeSelect class="w-full md:w-20rem" formControlName="selectProductType" containerStyleClass="w-full"
                [showClear]="true" [options]="lstProductType" [filter]="true" display="chip" [metaKeySelection]="false"
                selectionMode="checkbox" placeholder="Product Access" />
              <div class="text-danger"
                *ngIf="frmEditUserPermission.controls['selectProductType'].invalid && (frmEditUserPermission.controls['selectProductType'].touched  || frmEditUserPermission.controls['selectProductType'].dirty || isAddFormSubmitted)">
                <span class="required_text"
                  *ngIf="frmEditUserPermission.controls['selectProductType'].errors?.['required']">Product access
                  required</span>
              </div>
            </div>
            <div class="flex flex-column gap-2 mb-3">
              <label for="lblParentCompany">Permission Level<span class="mandtory text-red">*</span></label>

              <p-dropdown placeholder="Select" [options]="lstUserType" optionLabel="name"
                formControlName="selectUserType" [filter]="true" filterBy="name" [showClear]="true" class="w-100" />

              <div class="text-danger"
                *ngIf="frmEditUserPermission.controls['selectUserType'].invalid && (frmEditUserPermission.controls['selectUserType'].touched  || frmEditUserPermission.controls['selectUserType'].dirty || isAddFormSubmitted)">
                <span class="required_text"
                  *ngIf="frmEditUserPermission.controls['selectUserType'].errors?.['required']">Permission level
                  required</span>
              </div>
            </div>
            <div class="flex flex-column gap-2 mb-3">
              <label for="lblParentCompany">Status<span class="mandtory text-red">*</span></label>
              <p-dropdown placeholder="Select" [options]="lstStatus" optionLabel="name" formControlName="selectedStatus"
                [filter]="true" filterBy="name" [showClear]="true" class="w-100" />
              <div class="text-danger"
                *ngIf="frmEditUserPermission.controls['selectedStatus'].invalid && (frmEditUserPermission.controls['selectedStatus'].touched  || frmEditUserPermission.controls['selectedStatus'].dirty || isAddFormSubmitted)">
                <span class="required_text"
                  *ngIf="frmEditUserPermission.controls['selectedStatus'].errors?.['required']">Permission level
                  required</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-end gap-2 mt-2">
      <p-button label="Submit" type="submit" class="primarybtn small" />
      <p-button label="Cancel" (onClick)="cancelEditPermission()" class="tertiarybtn small" />
    </div>
  </form>
</p-dialog>
<p-dialog header="Send Email to User: {{userId}}" [(visible)]="sendEmailPopUp" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '60vw' }" [draggable]="false"
  [resizable]="false">
  <form [formGroup]="frmSendEmailUser" (ngSubmit)="sendEmailtoUser()">
    <input type="hidden" formControlName="hdnEmailUserId">
    <input type="hidden" formControlName="hdnEmailUserName">
    <input type="hidden" formControlName="hdnEmailUserEmail">
    <div class="row px-2">
      <div class="col-12 col-md-12 col-sm-12 pr-4 br-1">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="flex flex-column gap-2 mb-3">
              <label for="Subject">Subject<span class="mandtory text-red">*</span></label>
              <input pInputText type="text" placeholder="Enter here" pTooltip="Enter Email Subject" [autoHide]="false"
                tooltipPosition="top" formControlName="txtSubject" />
              <div class="text-danger"
                *ngIf="frmSendEmailUser.controls['txtSubject'].invalid && (frmSendEmailUser.controls['txtSubject'].touched  || frmSendEmailUser.controls['txtSubject'].dirty || isEmailSentForm)">
                <span class="required_text" *ngIf="frmSendEmailUser.controls['txtSubject'].errors?.['required']">Subject
                  required</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-sm-12 pr-4 br-1">
            <div class="flex flex-column gap-2 mb-3">
              <label for="lblFirstName">Message<span class="mandtory text-red">*</span></label>
              <p-editor formControlName="txtMessage" [style]="{ height: '200px' }" />
              <div class="text-danger"
                *ngIf="frmSendEmailUser.controls['txtMessage'].invalid && (frmSendEmailUser.controls['txtMessage'].touched  || frmSendEmailUser.controls['txtMessage'].dirty || isEmailSentForm)">
                <span class="required_text" *ngIf="frmSendEmailUser.controls['txtMessage'].errors?.['required']">Message
                  required</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-end gap-2 mt-2">
      <p-button label="Send" type="submit" class="primarybtn small" />
      <p-button label="Cancel" (onClick)="cancelSendEmail()" class="tertiarybtn small" />
    </div>
  </form>
</p-dialog>
<p-dialog header="Please provide a reason to decline the account request" [(visible)]="decline" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '34vw' }" [draggable]="false"
  [resizable]="false">
  <form [formGroup]="frmDeclineUser" (ngSubmit)="declineUser()">
    <input type="hidden" formControlName="hdnDeclineUserId">
    <div class="row mx-0 w-100 pt-3">
      <div class="co-lg-12 col-md-12 col-sm-12 mb-2 px-0">
        <textarea placeholder="Please provide reason for declining" pInputTextarea formControlName="txtDeclineRemark"
          [autoResize]="true"> </textarea>
        <div class="text-danger"
          *ngIf="frmDeclineUser.controls['txtDeclineRemark'].invalid && (frmDeclineUser.controls['txtDeclineRemark'].touched  || frmDeclineUser.controls['txtDeclineRemark'].dirty || isUserDeclineForm)">
          <span class="required_text" *ngIf="frmDeclineUser.controls['txtDeclineRemark'].errors?.['required']">Remark
            required</span>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 px-0 text-right">
        <p-button label="Save" type="submit" class="primarybtn mr-2" />
        <p-button label="Cancel" (onClick)="cancelDecline()" class="tertiarybtn" />
      </div>
    </div>
  </form>
</p-dialog>