
::ng-deep .phone_custom {
    .p-dropdown {border: 0px !important; }
    .p-inputgroup > .p-inputwrapper:first-child > .p-component > .p-inputtext {padding: 9px 25px 0 12px !important; }    
    svg {width: 11px; height: 11px;}
    .phone_pad {padding-left: 60px; margin-left: 2px;}
    .p-dropdown .p-dropdown-trigger {width: 1.5rem; padding-right: 6px;}
    .p-inputwrapper-focus.p-focus {border: none; padding: 0 !important;}
}