<div class="project-user-list">
  <div class="main-heading d-block mb-2">
    <div class="col-lg-6 page-heading w-100 p-0">
      <h1 class="">User Account Approval</h1>
    </div>
  </div>
  <div class="left-filter d-flex align-items-center gap-2 justify-content-between">
    <div class="d-flex gap-2 align-items-center">
      <label class="mb-0 nowrap mr-2" for="issue_type">Select Issue Type</label>
      <p-dropdown placeholder="Select Issue Type" [style]="{ width: '12vw' }" [options]="IssueTypes" optionLabel="Name"
        optionValue="Id" (onChange)="selectedIssueTypeId($event)" [(ngModel)]="selectedIssueType" />

      <p-button label="Load" class="primarybtn " (onClick)="GetIssueTypeUser()" />
    </div>
    <p-button label="Export to Excel" icon="pi pi-file-excel" class="tertiarybtn" />
  </div>

  <div class="main-content mt-2">
    <div class="card" [style]="{height:'calc(100vh - 188px)' }">

      <!-- NO DATA NOTE "Remove this d-none and add d-flex to show" -->
      <div class="message align-items-center justify-content-center color-grey h-100 d-none">
        Once you select the issue type from the dropdown, the data table of assigned users will appear here...
      </div>

      <!-- After LOAD -->
      <div class="">
        <div class="table_filter d-flex align-items-center justify-content-between ">
          <h2 class="mb-0">View Delegated Users</h2>
          <div class="right-filter col-lg-5 p-0">
            <p-button label="Edit" class="primarybtn float-right" (onClick)="Edit()" />
          </div>
        </div>
        <p-divider />

        <!-- On EDIT -->
        <div class="edit_user my-3 px-3">
          <p class="mb-0">Issue Type: <span> HVAC Pre-Sale</span></p>
        </div>
        <div class="edit_filter row mx-0 px-3 mb-3" *ngIf="IsEdit">
          <div class="col-lg-4 col-md-6 col-sm-12 pl-0 d-flex align-items-center gap-2">
            <label class="mb-0 nowrap mr-2" for="parent-company">Parent Company</label>
            <input pInputText type="text" placeholder="KCC" />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center gap-2">
            <label class="mb-0 nowrap mr-2" for="select">Select User</label>
            <p-dropdown placeholder="Select Active User" [style]="{ width: '12vw' }" [options]="MappingUser"
              optionLabel="Name" optionValue="Id" (onChange)="SelectUderType($event)" [(ngModel)]="SelectUserType" />
          </div>
        </div>
        <!-- On EDIT -->
        <div class="tab-view-wrapper mt-2">
          <div class="table px-3">
            <p-table [scrollable]="true" scrollHeight="220px" [tableStyle]="{ 'min-width': '100%' }"
              [value]="IssueTypeUserList" [(selection)]="selectedUserList">
              <ng-template pTemplate="header">
                <tr>
                  <th><p-tableHeaderCheckbox /></th>
                  <th hidden="true">UserId</th>
                  <th>Company</th>
                  <th>Users</th>
                  <th>Date Added</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td><p-tableCheckbox [value]="item" /></td>
                  <td hidden="true">{{item.UserId}}</td>
                  <td>{{item.CompanyName}}</td>
                  <td>{{item.Name}}</td>
                  <td>{{item.CreatedOn | date: 'dd/MM/yyyy'}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
        <div class="d-flex align-items-center gap-2 px-3 justify-content-end">
          <p-button label="Cancel" class="tertiarybtn" />
          <p-button label="Save" class="primarybtn" [disabled]="!selectedUserList || !selectedUserList.length"
          (click)="SaveIssueTypeWithUser($event)" />
        </div>
        </div>
      <!-- After LOAD -->
    </div>
  </div>
</div>