<div class="card">
  <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <div class="flex align-items-center">
          <p-button icon="pi pi-bars" [text]="true" [rounded]="true" (onClick)="toggleMenuCollapse()" />
          <strong>Retail Core</strong>
        </div>
      </ng-template>
      <ng-template pTemplate="end">
          <div class="flex align-items-center gap-4">
            <p-iconField iconPosition="left">
              <p-inputIcon styleClass="pi pi-search" />
              <input class="border-round-3xl" type="text" pInputText placeholder="Search" />
            </p-iconField>
              <p-avatar image="./images/user_profile.png" shape="circle" />
          </div>
      </ng-template>
  </p-menubar>
</div>