<!-- <div [ngClass]="['sidebar ' + toggleStateClass]" id="sidebar">
  <ul class="list-unstyled">
    <li class="menu_item" *ngFor="let item of lstLeftMenu" [ngClass]="{'active': item.active}">
      <a href="javascript:void(0);" (click)="setActive(item)">
        <i [innerHTML]="item.menuIcon"></i>
        <span class="menu_name">{{item.name}}</span>
      </a>
    </li>

  </ul>
</div> -->

<p-sidebar #sidebarRef [(visible)]="toggleState" (onHide)="this.layoutService.collapseSidebar()">
  <ng-template pTemplate="headless">
      <div class="flex flex-column h-full">
          <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
              <span class="inline-flex align-items-center gap-2">
                <p-avatar image="./favicon.ico" shape="square" />
                  <span class="font-semibold text-2xl text-primary">Retail Core</span>
              </span>
              <span>
                  <p-button type="button" (onClick)="this.layoutService.toggleSidebar()" icon="pi pi-times" rounded="true" outlined="true" styleClass="h-2rem w-2rem"></p-button>
              </span>
          </div>
          <div class="overflow-y-auto">
            <p-menu [model]="menuItems" styleClass="w-full border-none">                
                <ng-template pTemplate="submenuheader" let-item>
                    <span class="text-primary font-bold" [routerLink]="item.routerLink">{{ item.label }}</span>
                </ng-template>
                <ng-template pTemplate="item" let-item>
                    <a pRipple [routerLink]="item.routerLink" class="flex align-items-center p-menuitem-link">
                        <span [class]="item.icon"></span>
                        <span class="ml-2">{{ item.label }}</span>
                        <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
                        <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">
                            {{ item.shortcut }}
                        </span>
                    </a>
                </ng-template>
            </p-menu>
          </div>
          <div class="mt-auto">
              <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
              <a pRipple class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                  <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                  <span class="font-bold">Amy Elsner</span>
              </a>
          </div>
      </div>
  </ng-template>
</p-sidebar>