::ng-deep .p-datatable .p-datatable-thead > tr > th{ background: #CFD5E3; color: var(--primary-black); font-size: var(--value_12); font-family: var(--default-font); line-height: var(--value_20); padding: 0.5rem;}
.my-12 {margin: 12px 0;}
.br-1 {border-right: 1px solid var(--secondary-border-color);}
.head-info {font-size: var(--value_14); line-height: var(--value_20); color: var(--primary-grey); font-weight: normal; font-family: var(--default-font);}
::ng-deep .project-user-list {
    button.p-ripple.p-element.p-button.p-component {padding: 4px 12px; font-size: var(--value_14);}
    .advance-filter-wrapper {background: #D3D3D3; border-radius: 4px; padding: 12px 16px; color: var(--primary-black); font-family: var(--default-font); font-size: var(--value_14); line-height: var(--value_16); margin: 8px 0; 
        h5 {font-size: var(--value_15); font-family: var(--font-medium); font-weight: 500; color: var(--primary-black);}
        button.p-ripple.p-element.p-button.p-component {min-width: 88px; padding: 7px 12px;}
    }
    .main-content {button.p-ripple.p-element.p-button.p-component {min-width: 72px; padding: 4px 12px;}
    .table_filter {padding: 12px 8px; }
    tbody.p-element.p-datatable-tbody {min-height: 208px;overflow-y: auto;}
}
.secondarybtn button.p-ripple.p-element.p-button.p-component {background: var(--secondary-border-color); color: #fff; min-width: 74px; }
}
::ng-deep .filter {
.small button.p-ripple.p-element.p-button.p-component {padding: 4px 12px; font-size: var(--value_14); min-width: 102px; margin-top: 1.45rem;}
span.p-fileupload-choose {background: none; padding: 0; border: none; box-shadow: none !important; color: var(--primary-grey); font-size: var(--value_14); font-family: var(--default-font); svg {fill: var(--primary-grey);}}
}
.height_limit {min-height: 208px; overflow-y: auto; display: block;}
.t_details {
    .color-black, .color-blue {font-weight: 500; font-family: var(--font-medium);}
}
::ng-deep .font-small {
    color: var(--primary-black); font-weight: 500; font-family: var(--font-medium); font-size: var(--value_14);
    p {font-weight: 400; font-family: var(--default-font);}
}
::ng-deep .add_newticket {textarea.p-inputtextarea {height: 100px;}}
::ng-deep .update_ticket {
    .filter { padding: 10px 0; border: 1px solid var(--secondary-border-color); background: #fdfdfd; font-size: 14px; 
        span{ strong {color: var(--primary-black); margin-left: 14px; font-family: var(--font-medium); font-weight: 500;}}
    }
    p.mx-0.my-2.bb-1.bt-1.font-small.py-1 {span {margin-right: 40px; margin-left: 3px; &:last-child{margin-right: 0;}}}
    span.p-fileupload-choose {background: none; padding: 0; border: none; box-shadow: none !important; color: var(--primary-grey); font-size: var(--value_14); font-family: var(--default-font); svg {fill: var(--primary-grey);}}
    textarea.p-inputtextarea {height: 100px;}
}