<div class="administrator-wrapper">
    <div class="main-heading row mx-0 w-100 pb-2 b-0">
       <div class="page-heading">
        <h1 class="mb-0">Administrator</h1>    
       </div>
    </div>
    <p-card>
        <!-- 1st line -->
        <div class="row mb-3">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="card-grey text-center" href="/home/administration/manage-users">
                    <i class="d-block">
                        <img src="images/user_acc_approval.png" alt="">
                    </i>
                    User Account Approval
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="card-grey text-center">
                    <i class="d-block">
                        <img src="images/parent_company.png" alt="">
                    </i>
                    Add New Parent Company
                </a>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="card-grey text-center">
                    <i class="d-block">
                        <img src="images/default_user_permission.png" alt="">
                    </i>
                    Default User Permission Setting
                </a>
            </div>
        </div>
        <!-- 2nd line -->
        <div class="row mb-3">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="card-grey text-center">
                    <i class="d-block">
                        <img src="images/parent_company_product.png" alt="">
                    </i>
                    Parent Company - Product Settings
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="card-grey text-center" href="/home/administration/support-ticket-mapping">
                    <i class="d-block">
                        <img src="images/support_ticket_mapping.png" alt="">
                    </i>
                    Support Ticket Default Mapping
                </a>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="card-grey text-center">
                    <i class="d-block">
                        <img src="images/priviledge_user_mapping.png" alt="">
                    </i>
                    Privileged User Mapping
                </a>
            </div>
        </div>
        <!-- 3rd line -->
        <div class="row mb-3">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="card-grey text-center">
                    <i class="d-block">
                        <img src="images/modify_user.png" alt="">
                    </i>
                    Modify User Permission Mapping
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="card-grey text-center">
                    <i class="d-block">
                        <img src="images/manage_customer.png" alt="">
                    </i>
                    Manage Customers
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="card-grey text-center" href="/home/administration/menu-management">
                    <i class="d-block">
                        <img src="images/manage_customer.png" alt="">
                    </i>
                    Menu Management
                </a>
            </div>
        </div>
    </p-card>
</div>