::ng-deep .administrator-wrapper {
    .p-card { position: relative; min-height: calc(100vh - 142px);
        &:after {
        position: absolute;
        width: 273px;
        height: 267px;
        right: 0;
        bottom: 0;
        content: "";
        background: url("/images/kcc_logo_cut.png") no-repeat ;
      
        background-size: contain; 
        background-repeat: no-repeat;
        opacity: 0.05;
        filter: grayscale(1);
        }
    }
    .p-card-content {padding: 0;}
    .card-grey {padding: 22px 26px; background: var(--background-color); color: var(--primary-black); font-size: var(--value_15); font-family: var(--font-medium);  border: 1px solid var(--primary-border-color);  display: flex; flex-flow: column; align-items: center; justify-content: center;
    &:hover {background: #f7f7f7;}}
}

