<!-- <retail-header></retail-header> -->
<retail-header></retail-header>
<retail-sidebar></retail-sidebar>

<p-breadcrumb class="max-w-full" [model]="breadcrumbItems">
    <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #elseBlock>
            <a [href]="item.url">
                <span class="text-color">{{ item.label | titlecase}}</span>
            </a>
        </ng-template>
    </ng-template>
</p-breadcrumb>

<div class="content-wrapper">
    <div [ngClass]="['content ' + toggleStateClass]">
        <router-outlet></router-outlet>
    </div>
</div>

<retail-footer></retail-footer>